body {
    font-size: 32px;
    text-align: center;
}

#game-window {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 100%;
    justify-content: center;
}

#guess-word {
    display: block;
    text-align: left;
}

#score {
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    text-align: left;
}